@import '../../Style/variaveis.scss';

.PageTitleLight{
    display: flex;
    width: 100vw;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h1{
            font-size: 1.875rem;
            color: $dark;
            font-family: $work;
            font-weight: 600;
            line-height: 2.25rem;
        }
    }
}

.PageTitleDark{
    display: flex;
    width: 100vw;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h1{
            font-size: 1.875rem;
            color: $light;
            font-family: $work;
            font-weight: 600;
            line-height: 2.25rem;
        }
    }
}
