@import '../../Style/variaveis.scss';

.footerLight{
    background-color: $cinza7;
    width: 100vw;
    display: flex;
    justify-content: center;

    > div{
        padding: 4rem 0;
        display: flex;
        flex-direction: column;

        > div{
            display: flex;
            gap: 1.25rem;

            > div:first-child{
                display: flex;
                flex-direction: column;
                width: 18.0625rem;

                > h3{
                    font-family: $plus;
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    color: $dark;
                    margin-bottom: 1.5rem;
                }

                > p:first-of-type{
                    font-family: $plus;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $cinza6;
                    margin-bottom: 1.5rem;
                }

                > p:not(:first-of-type){
                    font-family: $plus;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $cinza8;
                    margin-bottom: 0.5rem;

                    > span{
                        font-weight: 600;
                        color: $dark;
                    }
                }
            }

            > div:nth-child(2){
                width: 30.9375rem;
                height: 14.75rem;
                gap: 5rem;
                display: flex;
                justify-content: center;

                > div{
                    > h3{
                        font-family: $plus;
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        margin-bottom: 1.5rem;
                        color: $dark;
                    }

                    > ul{
                        font-family: $plus;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        color: $cinza8;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        > a{
                            text-decoration: none;
                            color: $dark;
                            width: 2.9375rem;
                            height: 1.5rem;
                        }
                    }
                }
            }
            > div:last-child{
                > form{
                    background-color: $light;
                    width: 24.5rem;
                    height: 15.875rem;
                    border-radius: .75rem;
                    display: flex;
                    justify-content: center;

                    > div{
                        width:  calc(100% - 4.5rem);
                        height: calc(100% - 4rem);
                        padding: 2rem 2.25rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        > h3{
                            font-family: $work;
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 1.5rem;
                            color: $dark;
                            margin-bottom: 0.5rem;
                        }

                        > p{
                            font-family: $work;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            color: $cinza8;
                            margin-bottom: 1.875rem;
                        }

                        > label{
                            display: flex;
                            align-items: center;
                            border: 1px solid $cinza9;
                            border-radius: .375rem;
                            width: 20rem;
                            height: 3rem;
                            margin-bottom: .5rem;

                            > input{
                                margin: .75rem 0.625rem .75rem 1rem;
                                border: none;
                                outline: none;
                                font-family: $work;
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1.5rem;
                                color: $cinza5;
                                width: 100%;
                            }

                            > div{
                                width: 1.125rem;
                                height: .875rem;
                                margin: 0.875rem 1rem 0.875rem 0;
                                background-image: url('./icons/email.svg');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                            }
                        }

                        > button{
                            background-color: $azul2;
                            border-radius: .375rem;
                            width: 20rem;
                            height: 3rem;
                            border: none;
                            color: $light;
                            font-family: $work;
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            cursor: pointer;

                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footerDark{
    background-color: $azul3;
    width: 100vw;
    display: flex;
    justify-content: center;

    > div{
        padding: 4rem 0;
        display: flex;
        flex-direction: column;

        > div{
            display: flex;
            gap: 1.25rem;

            > div:first-child{
                display: flex;
                flex-direction: column;
                width: 18.0625rem;

                > h3{
                    font-family: $plus;
                    font-weight: 600;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    color: $light;
                    margin-bottom: 1.5rem;
                }

                > p:first-of-type{
                    font-family: $plus;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $cinza6;
                    margin-bottom: 1.5rem;
                }

                > p:not(:first-of-type){
                    font-family: $plus;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $cinza5;
                    margin-bottom: 0.5rem;

                    > span{
                        font-weight: 600;
                        color: $light;
                    }
                }
            }

            > div:nth-child(2){
                width: 30.9375rem;
                height: 14.75rem;
                gap: 5rem;
                display: flex;
                justify-content: center;

                > div{
                    > h3{
                        font-family: $plus;
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        margin-bottom: 1.5rem;
                        color: $light;
                    }

                    > ul{
                        font-family: $plus;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        color: $cinza8;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        > a{
                            text-decoration: none;
                            color: $cinza10;
                            width: 2.9375rem;
                            height: 1.5rem;
                        }
                    }
                }
            }
            > div:last-child{
                > form{
                    background-color: $azul1;
                    width: 24.5rem;
                    height: 15.875rem;
                    border-radius: .75rem;
                    display: flex;
                    justify-content: center;

                    > div{
                        width:  calc(100% - 4.5rem);
                        height: calc(100% - 4rem);
                        padding: 2rem 2.25rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        > h3{
                            font-family: $work;
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 1.5rem;
                            color: $light;
                            margin-bottom: 0.5rem;
                        }

                        > p{
                            font-family: $work;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            color: $cinza5;
                            margin-bottom: 1.875rem;
                        }

                        > label{
                            display: flex;
                            align-items: center;
                            border: 1px solid $cinza8;
                            border-radius: .375rem;
                            width: 20rem;
                            height: 3rem;
                            margin-bottom: .5rem;

                            > input{
                                margin: .75rem 0.625rem .75rem 1rem;
                                border: none;
                                outline: none;
                                font-family: $work;
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1.5rem;
                                color: $cinza5;
                                width: 100%;
                                background-color: $azul1;
                            }

                            > div{
                                width: 1.125rem;
                                height: .875rem;
                                margin: 0.875rem 1rem 0.875rem 0;
                                background-image: url('./icons/email.svg');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                            }
                        }

                        > button{
                            background-color: $azul2;
                            border-radius: .375rem;
                            width: 20rem;
                            height: 3rem;
                            border: none;
                            color: $light;
                            font-family: $work;
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            cursor: pointer;

                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}
